Flask==3.0.3
Flask-Login==0.6.3
Flask-Mail==0.9.1
mysql-connector-python==8.4.0
python-dotenv==1.0.1
qrcode==7.4.2
itsdangerous==2.2.0
Werkzeug==3.0.3
gunicorn==22.0.0
pytz==2025.1
Pillow==10.4.0
resend==0.8.0
PyMySQL==1.1.1
mysqlclient

